<html lang="zxx">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Ogani Template" />
    <meta name="keywords" content="Ogani, unica, creative, html" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Ogani | Template</title>

    <!-- Google Font -->
    <link
      href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap"
      rel="stylesheet"
    />

    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css" />
    <link rel="stylesheet" href="css/nice-select.css" type="text/css" />
    <link rel="stylesheet" href="css/jquery-ui.min.css" type="text/css" />
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css" />
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css" />
    <link rel="stylesheet" href="css/style.css" type="text/css" />
  </head>

  <body>
    <!-- Contact Form Begin -->
    <div class="contact-form spad">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="contact__form__title">
              <h2>User Registration</h2>
            </div>
          </div>
        </div>
        <form action="useradd" method="post">
          <span class="text-danger">{{msg}}</span>
          <span class="text-danger">{{err}}</span>
          <span class="text-success">{{succ}}</span>
          <div class="row">
            <div class="col-md-6 mb-4">

              <div class="form-outline">
                <input
                  type="text"
                  id="firstName"
                  class="form-control form-control-lg"
                  name="name"
                />
                <label class="form-label" for="firstName">First Name</label>
              </div>

            </div>
            <div class="col-md-6 mb-4">

              <div class="form-outline">
                <input
                  type="password"
                  id="lastName"
                  class="form-control form-control-lg"
                  name="password"
                />
                <label class="form-label" for="password">Password</label>
              </div>

            </div>
          </div>

          <div class="row">
            <div class="col-md-6 mb-4">

              <div class="form-outline">
                <input
                  type="email"
                  id="email"
                  class="form-control form-control-lg"
                  name="email"
                />
                <label class="form-label" for="email">Email</label>
              </div>

            </div>
            <div class="col-md-6 mb-4">

              <div class="form-outline">
                <input
                  type="text"
                  id="PhoneNumber"
                  class="form-control form-control-lg"
                  name="phoneNumber"
                />
                <label class="form-label" for="Phone Number">Phone Number</label>
              </div>

            </div>
          </div>

          <div style="display: inline-flex;" class="mt-4 pt-2">
            <input
              class="btn btn-primary btn-lg"
              type="submit"
              value="Submit"
            />

            <p
              style="margin-left: 50px;"
              class="small fw-bold mt-2 pt-1 mb-0"
            >already have an account?
              <a href="/login">login</a></p>
          </div>
        </form>
      </div>
    </div>
    <!-- Contact Form End -->

    <!-- Js Plugins -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/mixitup.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>